.left-sidebar-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    width:200px;
    background-color: bisque;
}
.navigation ul li{
        list-style-type: none;
}
.navigation button{
    background-color:orange;
    border:none;
    padding:1rem .7rem;
    display: flex;
    margin:auto;
}