.container {
  display: grid;
  grid-template-columns: 50% 50%;
  /* justify-content: center; */
  align-items: center;
  height:100vh;
}
.left-col {
  text-align: center;
}

.buttons button{
    width:40%;
    background-color:orange;
    border:none;
    padding:1rem .7rem;
    cursor:pointer;
    margin:1rem 0;
}
.buttons a{
    display: block;
    color:orange;
    text-decoration: none;
    cursor:pointer;
    width:30%;
    margin:auto;
}
.right-col {
  background-color: gray;
  width: 400px;
  height: 400px;
  margin:auto;
}