@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

body {
  font-family: "Fira Sans", sans-serif;
}

:root {
  --primary-color: #3b82f6;
  --primary-dark: #1e40af;
  --primary-darker: #566176;
  --primary-lightest: #f4f4fb;
  --white-color: #ffffff;
  --gray-text: #797777;
  --dark-mode: #1A202C;
  --dark-light: #262c3c;
}
